<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            Mule
          </h3>
        </div>
      </div>

      <div class="inner cover">
        <div id="logo">
          <%= image_tag "mule_logo_landscape_400.png", class: "img-responsive" %>
        </div>
        <h1 class="cover-heading">Makes Moving Simple</h1>
        <p class="lead">
          Get Matched with a Mover Today!
        </p>
        <div class="so-nice">
            <div class="field">
              <%= link_to "Get Started", "/residence-type", class: "btn btn-get-started", id: "get_started" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row highlights add-border">
  <div class="col-md-4 highlight-trust">
    <%= image_tag "icons/certificate_icon_aqua_240.png", class: "img-responsive" %>
    <h1>Trust</h1>
    <h3 class="highlight">
      Find out if your movers are insured.
    </h3>
  </div>
  <div class="col-md-4 highlight-trans">
    <%= image_tag "icons/dollar_bill_icon_aqua_240.png", class: "img-responsive" %>
    <h1>Transparancy</h1>
    <h3 class="highlight">
      No Hidden Costs! Once we get information about your move, our quotes are final.
    </h3>
  </div>
  <div class="col-md-4 highlight-control">
    <%= image_tag "icons/handshake_icon_aqua_240.png", class: "img-responsive" %>
    <h1>Control</h1>
    <h3 class="highlight">
      Your move in your hands, every step of the process.
    </h3>
  </div>
</div>
<div class="row footer">
  <hr>
  <h1 class="footer">Helping You Through The Big Moves in Life.</h1>
</div>
<div class="foot-space" style="padding: 20px; height: 70px">
    <a href="https://mixpanel.com/f/partner" class="pull-right">
        <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
    </a>
</div>

<script>
    mixpanel.track('Landing pageview', {
        'page name' : document.title,
        'url' : window.location.pathname
    });

    mixpanel.track_links("#get_started", "Get Started click", {
        "referrer": document.referrer
    });
</script>
